text-decoration: none;
  color: rgba(103,106,123,0.6);
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10rem 5vw 5rem;
}

.home-main-img-container {
  order: 1;
  flex-basis: 50%;
  padding: 5vh 0;
}

.home-main-img-container img {
  width: 90%;
}

.home-landing-main-text {
  order: 2;
  flex-basis: 50%;
}

.home-landing-main-text h1 {
  font-size: 4.8rem;
  line-height: 1.05;
  font-family: "Times New Roman",Georgia,serif;
  margin-bottom: 2rem;
  color: #2C303F;
}

.home-landing-main-text p {
  color: rgba(103,106,123,0.8);
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
{
 padding: 0;
 margin: 0;
 font-family: "Roboto" ,sans-serif;
}

nav {
 display: flex;
 width: 100%;
 box-sizing: border-box;
 padding: 0 4vw;
 border-bottom: 1px solid rgba(103,106,123,0.2);
 background-color: #fff;
 position: fixed;
}

.slack-logo-nav {
 display: flex;
 align-items: center;
 width: 150px;
}

.slack-logo-nav img {
 width: 10vw;
}

.nav-menu {
 flex: 1;
 justify-content: flex-end;
 display: flex;
 align-items: center;
}

.nav-menu i {
 font-size: 1.8rem;
 color: rgba(103,106,123,1);
 display: none;
}

.nav-menu li {
 list-style: none;
 color: rgba(103,106,123,0.6);
 padding: 1rem;
 font-size: 1rem;
}

.nav-menu li a {
 border: 1px solid #5b5e6d;
 padding: 10px;
 border-radius: 5px;
 text-decoration: none;
 color: rgba(103,106,123,0.6);
}

.nav-menu li a {
 border: 1px solid #5b5e6d;
 padding: 10px;
 border-radius: 5px;
 text-decoration: none;
 color: rgba(103,106,123,0.6);
}
